html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 80%;
}

#canvas {
  text-align: center;
}

#vui {
  position: absolute;
  top: 5%;
  left: 2%;
  color: white;
  max-width: 6%;
  overflow: hidden;
}

#vui div {
  pointer-events: none;
  position: relative;
  display: table-caption;
  
}

#vui div fudge-textinput{
  display: block;
  padding-top: 15px;
}
#vui div fudge-textinput input{
background-color: black;
color: white;
border: none;
}
